{% extends "base_auth.html" %} {% block content %}
{% load static %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <div class="card mt-5">
        <div class="card-body">

            <div class="card-title py-3">
                <h4>Login</h4>
            </div>

            <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% include 'partials/_messages.html' %}
                
                <div class="form-group">
                    <input 
                        type="text" 
                        name="username" 
                        id="usernameField" 
                        placeholder="Username"
                        class="form-control form-control-sm"
                        required

                    />
                </div>

                <div class="form-group">
                    <input 
                        type="password" 
                        name="password" 
                        id="passwordField" 
                        placeholder="Password"
                        class="form-control form-control-sm" 
                        required
                    />
                </div>
                
                <input type="submit" value="Login" class="btn btn-block btn-primary login-btn" disabled/>
            </form>
            <div>
                <span class="text-lead lead"> Forgot the password ? </span>
                <a href="{% url 'password-reset' %}">Reset</a><br>
                <span class="text-lead lead"> Don't have account ? </span>
                <a href="{% url 'register' %}">SignUp</a><br>
            </div>
            
        </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<script src="{% static 'js/login.js' %}"></script>

{% endblock content %}