{% extends "base_auth.html" %} {% block content %}
{% load static %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <div class="card mt-5">
        <div class="card-body">

            <div class="card-title py-3">
                <h4>Get Password Reset Link</h4>
            </div>

            <form action="{% url 'password-reset' %}" method="post">
            {% csrf_token %}
            {% include 'partials/_messages.html' %}
                
                <div class="form-group">
                    <input 
                        type="email" 
                        name="email" 
                        id="emailField" 
                        placeholder="Email"
                        class="form-control form-control-sm" 
                        value="{{email}}"
                    />
                </div>
                
                <input type="submit" value="Submit" class="btn btn-block btn-primary login-btn" />
            </form>
            <div>
                <span class="text-lead lead"> Have an account ? </span>
                <a href="{% url 'login' %}">Login</a><br>
                <span class="text-lead lead"> Don't have account ? </span>
                <a href="{% url 'register' %}">SignUp</a><br>
            </div>
            
        </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

{% endblock content %}

{% block scripts %}
    {{ block.super }}
{% endblock scripts %}